body {
  background-image: url("/res/img/background.png");
  background-repeat: repeat;
  color: #555;
  color: #566b78;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50em;
  overflow-y: scroll;
  padding: 4em 1em;
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #e81c4f;
}

code, pre {
  background: #f5f7f9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

.photograph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
}

.graph-total-container {
  width: 640px;
  height: 512px;
}

.graph-total-plot {
  width: 80%;
  height: 100%;
  float: left;
}

.graph-total-options {
  width: 20%;
  float: right;
}

.graph-percent-container {
  width: 640px;
  height: 512px;
}

.graph-percent-plot {
  width: 80%;
  height: 100%;
  float: left;
}

.graph-percent-options {
  width: 20%;
  float: right;
}
