<!DOCTYPE html>
<html>
	<head>
		<title>Peter Wilmott</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Corben:bold|Nobile" rel="stylesheet" type="text/css">
		<style>
			h1, h2, h3, h4, h5, h6 {
				font-family: 'Corben', Georgia, Times, serif;
			}
			p {
				font-family: 'Nobile', Helvetica, Arial, sans-serif;
			}
			hr {
				border: 1px solid;
			}
			.container {
				width: 640px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1><a href="/pages/index.html">Peter Wilmott</a><i class="pull-right fa fa-lg fa-linux"></i></h1>
			<h4><a href="/pages/index.html">About</a> | <a href="/pages/blog.html">Blog</a> | <a href="/pages/projects.html">Projects</a></h4>
			<hr>
			<%=page_content%>
		</div>
	</body>
</html>
